__pycache__/
*.pyc
*.pyo
*.pyd

gradio.out
gradio.err
hw2/02_DIPwithPyTorch/gradio.out
hw2/02_DIPwithPyTorch/gradio.err

hw2/02_DIPwithPyTorch/Pix2Pix/datasets/
hw2/02_DIPwithPyTorch/Pix2Pix/train_list.txt
hw2/02_DIPwithPyTorch/Pix2Pix/val_list.txt
hw2/02_DIPwithPyTorch/Pix2Pix/train_results/
hw2/02_DIPwithPyTorch/Pix2Pix/val_results/
hw2/02_DIPwithPyTorch/Pix2Pix/checkpoints/

hw3/03_BundleAdjustment/__pycache__/
hw3/03_BundleAdjustment/tools/
